<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etong.android.frame.library">

    <uses-permission android:name="android.permission.CAMERA" />
<!--友盟统计-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".EtApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/mAppTheme">
        <activity android:name=".search.searchBrandOrCarsetActivity">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tendcloud.tenddata.TalkingDataAppMessageReceiver" android:enabled="true">
            <intent-filter>
                <!-- 必须添加 -->
                <action android:name="com.talkingdata.notification.click"></action>
                <action android:name="com.talkingdata.message.click"></action>
            </intent-filter>
            <intent-filter>
                <!-- 如果使用极光推送，必须添加 -->
                <action android:name="cn.jpush.android.intent.REGISTRATION"></action>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"></action>
                <category android:name="com.etong.android.frame.library"></category>
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.etong.android.frame.library.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.etong.android.frame.library" />
            </intent-filter>
        </receiver>

        <meta-data android:value="58bcf846717c196f62001db9" android:name="UMENG_APPKEY"/>
        <meta-data android:value="ETONG" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>